In [2]:
import pandas as pd

C:\Users\valen\AppData\Local\Temp\ipykernel_12572\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
net= pd.read_csv('netflix_titles.csv')

In [4]:
net.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [5]:
net.sample()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7183,s7184,Movie,Khalnayak,Subhash Ghai,"Sanjay Dutt, Madhuri Dixit, Jackie Shroff, Anu...",India,"March 1, 2018",1993,TV-14,170 min,"Action & Adventure, Dramas, International Movies",A prison guard goes undercover as a dancer to ...

In [6]:
net.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [7]:
net.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [8]:
# no se pueden eliminara los registros nulos ya q se eliminarian otros registros 
net.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [9]:
net['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [10]:
#cargamos el df que es peliculas para hacer unos cambios 
peliculas = net[net['type']=='Movie']

In [11]:
#cargamos el df que es series para hacer unos cambios 
series = net[net['type']=='TV Show']

In [12]:
#se normaliza la fecha de peliculas
peliculas['date_added'] = pd.to_datetime(peliculas['date_added'])

C:\Users\valen\AppData\Local\Temp\ipykernel_12572\4146213784.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peliculas['date_added'] = pd.to_datetime(peliculas['date_added'])

In [13]:
#se eliminan espacios.
series['date_added']=series['date_added'].str.strip()
#se normaliza la fecha de series.
series['date_added'] = pd.to_datetime(series['date_added'])

C:\Users\valen\AppData\Local\Temp\ipykernel_12572\3942617661.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series['date_added']=series['date_added'].str.strip()
C:\Users\valen\AppData\Local\Temp\ipykernel_12572\3942617661.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series['date_added'] = pd.to_datetime(series['date_added'])

In [14]:
# se verifica que salda (datetime64[ns]) y no (object)
series.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2676 entries, 1 to 8803
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       2676 non-null   object
 1   type          2676 non-null   object
 2   title         2676 non-null   object
 3   director      230 non-null    object
 4   cast          2326 non-null   object
 5   country       2285 non-null   object
 6   date_added    2666 non-null   datetime64[ns]
 7   release_year  2676 non-null   int64
 8   rating        2674 non-null   object
 9   duration      2676 non-null   object
 10  listed_in     2676 non-null   object
 11  description   2676 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 271.8+ KB

In [15]:
# se verifica que salda (datetime64[ns]) y no (object)
peliculas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6131 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6131 non-null   object
 1   type          6131 non-null   object
 2   title         6131 non-null   object
 3   director      5943 non-null   object
 4   cast          5656 non-null   object
 5   country       5691 non-null   object
 6   date_added    6131 non-null   datetime64[ns]
 7   release_year  6131 non-null   int64
 8   rating        6129 non-null   object
 9   duration      6128 non-null   object
 10  listed_in     6131 non-null   object
 11  description   6131 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 622.7+ KB

In [16]:
peliculas['duration']=peliculas['duration'].str.replace('min','')
peliculas['duration']=peliculas['duration'].str.strip()
peliculas['duration']=peliculas['duration'].astype(float)

C:\Users\valen\AppData\Local\Temp\ipykernel_12572\2287369015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peliculas['duration']=peliculas['duration'].str.replace('min','')
C:\Users\valen\AppData\Local\Temp\ipykernel_12572\2287369015.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peliculas['duration']=peliculas['duration'].str.strip()
C:\Users\valen\AppData\Local\Temp\ipykernel_12572\2287369015.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peliculas['duration']=peliculas['duration'].astype(float)

In [17]:
peliculas['duration'].unique()

array([ 90.,  91., 125., 104., 127.,  67.,  94., 161.,  61., 166., 147.,
       103.,  97., 106., 111., 110., 105.,  96., 124., 116.,  98.,  23.,
       115., 122.,  99.,  88., 100., 102.,  93.,  95.,  85.,  83., 113.,
        13., 182.,  48., 145.,  87.,  92.,  80., 117., 128., 119., 143.,
       114., 118., 108.,  63., 121., 142., 154., 120.,  82., 109., 101.,
        86., 229.,  76.,  89., 156., 112., 107., 129., 135., 136., 165.,
       150., 133.,  70.,  84., 140.,  78.,  64.,  59., 139.,  69., 148.,
       189., 141., 130., 138.,  81., 132., 123.,  65.,  68.,  66.,  62.,
        74., 131.,  39.,  46.,  38., 126., 155., 159., 137.,  12., 273.,
        36.,  34.,  77.,  60.,  49.,  58.,  72., 204., 212.,  25.,  73.,
        29.,  47.,  32.,  35.,  71., 149.,  33.,  15.,  54., 224., 162.,
        37.,  75.,  79.,  55., 158., 164., 173., 181., 185.,  21.,  24.,
        51., 151.,  42.,  22., 134., 177.,  52.,  14.,  53.,   8.,  57.,
        28.,  50.,   9.,  26.,  45., 171.,  27.,  44., 146.,  20., 157.,
        17., 203.,  41.,  30., 194., 233., 237., 230., 195., 253., 152.,
       190., 160., 208., 180., 144.,   5., 174., 170., 192., 209., 187.,
       172.,  16., 186.,  11., 193., 176.,  56., 169.,  40.,  10.,   3.,
       168., 312., 153., 214.,  31., 163.,  19.,  nan, 179.,  43., 200.,
       196., 167., 178., 228.,  18., 205., 201., 191.])

In [18]:
series['duration']=series['duration'].str.replace('Seasons','').replace('1 Season','1').astype(int)

C:\Users\valen\AppData\Local\Temp\ipykernel_12572\1627787821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series['duration']=series['duration'].str.replace('Seasons','').replace('1 Season','1').astype(int)

In [19]:
series.rename(columns={'duration':'temporadas'})

,show_id,type,title,director,cast,country,date_added,release_year,rating,temporadas,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,2021-09-24,2021,TV-MA,1,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
...,...,...,...,...,...,...,...,...,...,...,...,...
8795,s8796,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada",2018-05-01,2015,TV-Y7,2,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...
8796,s8797,TV Show,Yunus Emre,NaN,"Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...",Turkey,2017-01-17,2016,TV-PG,2,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves..."
8797,s8798,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia",2018-09-13,2016,TV-Y7,3,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...
8800,s8801,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,2016-12-15,2012,TV-PG,1,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2019-07-01,2018,TV-Y7,2,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."

In [20]:
def filmografia(actor:str): #Define la funcion Filmografia que recibe una cadena de texto 
    result1 = peliculas[peliculas['cast'].str.contains(actor,na=False)]#filtra registros que contengan la cadena de texto ingresada(es el filtro q se genera pero para peliculas)
    result2= series[series['cast'].str.contains(actor,na=False)]#filtra registros que contengan la cadena de texto ingresada (es el filtro q se genera pero para series)
    result1 = result1[['title','release_year','type']]#sobreescribir result1 con las columna 'title','release_year' y 'type'
    result2 = result2[['title','release_year','type']]#sobreescribir result2 con las columna 'title','release_year' y 'type'
    result=pd.concat([result1,result2],axis=0).sort_values(by='release_year',ascending = True)#concat=concatenar sort=ordenar 
    result['type'] = result['type'].str.replace('Movie','pelicula').replace('TV Show','Serie')
    return result.rename(columns={'title':'Titulo','release_year':'Año de lanzamiento','type':'Tipo'}).reset_index(drop=True)

In [21]:
filmografia('Tom Hanks')

                               Titulo  Año de lanzamiento      Tipo
0                        Philadelphia                1993  pelicula
1                 Catch Me If You Can                2002  pelicula
2                   The Polar Express                2004  pelicula
3                   The Da Vinci Code                2006  pelicula
4                     Angels & Demons                2009  pelicula
5                         Cloud Atlas                2012  pelicula
6                    Saving Mr. Banks                2013  pelicula
7  Defying the Nazis: The Sharps' War                2016  pelicula